*.class
*.log

# sbt specific
.cache/
.history/
.lib/
.bsp/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
calandroBot/src/main/resources/*.mp3
calandroBot/src/main/resources/*.gif
richardPHJBensonBot/src/main/resources/*.mp3
richardPHJBensonBot/src/main/resources/*.gif

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

*.token
.DS_Store
**/src/main/resources/*
